{% extends 'base.html' %}

{% block title %}Отредактировать вопрос{% endblock %}

{% block content %}
    <h1 class="text-center">Отредактировать вопрос</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    
    <h2 class="mt-4">Отредактировать ответы</h2>
    <ul class="list-group">
        {% for answer in question.answers.all %}
            <li class="list-group-item">
                <a href="{% url 'edit_answer' question.pk answer.pk %}">{{ answer.text }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}