{% extends 'base.html' %}

{% block title %}Список вопросов{% endblock %}

{% block content %}
    <h1 class="text-center">Список вопросов</h1>
    <ul class="list-group">
        {% for question in questions %}
            <li class="list-group-item">
                {% if question.pk in answered_questions %}
                    <span>{{ question.text }} - Выполнен</span>
                {% else %}
                    <a href="{% url 'question_detail' question.pk %}">{{ question.text }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if all_answered %}
        <div class="text-center mt-3">
            <a href="{% url 'quiz_results' %}" class="btn btn-success">Отправить результаты теста</a>
        </div>
    {% endif %}
{% endblock %}