{% extends 'base.html' %}

{% block title %}{{ question.text }}{% endblock %}

{% block content %}
    <h1 class="text-center">{{ question.text }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="list-group">
            {% for answer in question.answers.all %}
                <label class="list-group-item">
                    <input type="radio" name="answer" value="{{ answer.id }}"> {{ answer.text }}
                </label>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Отправить ответ</button>
    </form>
{% endblock %}